@model CreateProductViewModel

@{
    ViewData["Title"] = "Create Product";
}

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">

            <div class="col-md-12">
                <div class="form-group">
                    <label asp-for="Name">Product Title:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ManufacturerPhone">Phone:</label>
                    <input asp-for="ManufacturerPhone" class="form-control" />
                    <span asp-validation-for="ManufacturerPhone" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="ManufacturerEmail">Email:</label>
                    <input asp-for="ManufacturerEmail" class="form-control" />
                    <span asp-validation-for="ManufacturerEmail" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CategoryId" class="control-label">Choose a Category</label>
                        <select class="form-control" asp-for="CategoryId"
                                asp-items='new SelectList(Model.ProductCategories, "Id", "Name")'>
                            <option value="">Select Category</option>
                        </select>
                        <span class="text-danger" asp-validation-for="CategoryId" class="error"></span>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
            <a asp-action="Index" class="btn btn-secondary">Back To Book List</a>
        </form>
    </div>
</div>

